*{
    margin: 0;
    padding: 0;
}

header, footer{
    padding: 2em;
    background-color: rgb(72, 255, 0);
    color: white;
    text-align: center;
}

body{
    margin-top: 10em; /* espaço para ler o texto */
}

header{
    position: fixed; /* preciso ter barra de rolagem para ver a importância do fixed */
    top: 0;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

main p{
    margin: 1em 5em;
}

div.box{
    width: 300px;
    height: 300px;
    background-color: yellow;
    padding: 2em;
    box-sizing: border-box; /* este atributo muda o comportamento da caixa ao se aplicar o padding */
    position: absolute; /* permite que os elementos fiquem sobrepostos um com o outro */ /* sempre que absolute for definido na marcação, ela irá perder a largura de bloco */
    
}

div#modal{
    top: 100px; /*top ou bottom / eixo x */
    left: 100px; /*left ou right / eixo y */
    z-index: 3; /* z-index recebe o maior número inteiro e coloca na frente */
     /* visibility: hidden; (controla visibilidade da caixa) */ 
}


div.box2{
    bottom: 150px;
    right: 150px;
    background-color: tomato;
    z-index: 2;
}

div.box3{
    top: 200px;
    left: 200px;
    background-color: purple;
    z-index: 1;
}